<div class="row">
  <div class="d-flex justify-content-center mb-4">
    <%= form_with url: customer_search_business_customers_path, method: :get, class: "d-flex" do |form| %>
      <%= form.text_field :search_customer , placeholder: "Search Customer by First Name Here", class: "form-control me-2" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
