<div class="row">
  <div class="d-flex justify-content-center mb-4">
    <%= form_with url: employee_email_search_path, method: :get, class: "d-flex" do |form| %>
      <%= form.text_field :search_email , placeholder: "please enter email to search", class: "form-control me-2" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
