<h1 class="text-center"> Home Controller </h1>
<p class="h3">Hello <%= @your_name %> from Simform</p>

<table class="table table-striped table-bordered table-hover w-25 text-center">
  <tr>
    <td>College Name:</td>
    <td>GEC-Gandhinagar</td>
  </tr>

  <tr>
    <td>Name:</td>
    <td>Dhyey</td>
  </tr>

  <tr>
    <td>DOB:</td>
    <td>15/12/2001</td>
  </tr>

  <tr>
    <td>Hobbies:</td>
    <td>Table Tennis, Gaming</td>
  </tr>

  <tr>
    <td>Current Work:</td>
    <td>Ruby On Rails(ROR)</td>
  </tr>
</table>