<h1 class="text-center my-4">Top Customers</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  <% @customers.each_with_index do |customer, inx| %>
    <tr>
      <td><%= link_to inx+1, customer %></td>
      <td><%= "#{customer.first_name} #{customer.last_name}" %></td>
      <td><%= customer.email %></td>
      <td><%= customer.phone_number %></td>
  <% end %>
</table>
