<div class="row">
  <div class="d-flex justify-content-center mb-4">
    <%= form_with url: filtered_orders_path, method: :get, class: "d-flex" do |form| %>
      <%= form.select :task, Order::OPTIONS, { include_blank: "Select Filter", selected: params[:task] } , {class: "form-select form-select-sm me-3"} %>
      <%= form.submit "Filter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
