<br><br><br>

<h3 class="text-center"> Api Data </h3>
<table class="table table-info table-striped-columns w-25 text-dark mx-auto">
  <tr>
    <th>API's Available</th>
  </tr>
  <tr>
    <td>
      <%= link_to "Commodity Data", api_v1_commodity_data_path, class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Customers Data", api_v1_customer_data_path, class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "Orders Data", api_v1_order_data_path, class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "All Data", api_v1_all_data_path, class: "text-decoration-none text-dark btn" %>
    </td>
  </tr>
</table>
