<h1 class="text-center m-4 h1">Car</h1>
<table class="table w-50 table-bordered table-striped table-hover m-auto text-center">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Constructor</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @car.id %></td>
    <td><%= @car.name %></td>
    <td><%= @car.constructor %></td>
    <td><%= @car.price %></td>
  </tr>
</table>
